/**********************house-rent开始************************/
#house-rent{
	height: 40px;
}
#house-rent .wrapper{
	height: 40px;
	/*background: #fff;*/
}
#house-rent-nav{
	height: 40px;
	line-height: 40px;
	color: #676767;
}
#house-rent-nav a{
	color: #676767;
	font-size: 12px;
}
#house-img{
	height: 360px;
	background: url(../img/index2.jpg) no-repeat;
	background-size: 100% 100%;
}

/**********************house-rent结束************************/

/**********************house-rent-info开始************************/
#house-rent-info{
	overflow: hidden;
	background: #fff;
}
#house-rent-info .life-talk{
	width: 768px;
	float: left;
	padding-bottom: 20px;
	margin-top: 20px;
}
#house-rent-info .life-talk h3{
	width: 100%;
	height: 60px;
	line-height: 60px;
	color: #333333;
	border-bottom: 1px solid #333333;
}
#house-rent-info .life-talk .publish-talk{
	padding-bottom: 20px;
	border-bottom: 1px dotted #333333;
}
#house-rent-info .life-talk p{
	width: 100%;
	margin: 10px 0;
	color: #333333;
	font-size: 14px;
}
#house-rent-info .life-talk .time{
	width: 100%;
	height: 40px;
	line-height: 40px;
}

/*分页*/
#house-rent-info .life-talk .am-cf{
	height: 50px;
	padding: 20px 0;
}
#house-rent-info .life-talk .am-pagination{
	float: right;
}
#house-rent-info .life-talk .am-pagination li{
	width: 30px;
	height: 30px;
	background: #dfdfdf;
	float: left;
	margin-right: 10px;
	text-align: center;
	line-height: 30px;
}
#house-rent-info .life-talk .am-pagination .am-active{
	background: #00b4dc;
}
#house-rent-info .life-talk .am-pagination li a{
	color: #fff;
}




#house-rent-info .life-talk .publish-form{
	width: 100%;
	margin-top: 60px;
}
#house-rent-info .life-talk .publish-form{
	width: 100%;
}
#house-rent-info .publish-form textarea{
	width: 500px;
	height: 250px;
	outline: none;
	text-indent: 10px;
}
#house-rent-info .publish-form .submit{
	width: 118px;
	height: 40px;
	background: #b1cb3d;
	outline: none;
	border: 1px solid #b1cb3d;
	font-size: 20px;
	color: #fff;
}
#house-rent-info .publish-form span{
	color: #333333;
	margin-left: 20px; 
}


















#house-rent-info .house-rent-service{
	width: 320px;
	height: 954px;
	/*background: #f00;*/
	float: right;
	padding: 20px 0;
}
#house-rent-info .house-announce{
	width: 320px;
	height: 250px;
	background: #f4f4f4;
	margin-top: 40px;
}
#house-rent-info .house-announce p{
	width: 320px;
	height: 23px;
	font-size: 20px;
	color: #00b4dc;
	padding: 20px 0;
	text-align: center;
}
#house-rent-info .house-announce a{
	width: 120px;
	height: 42px;
	display: block;
	background: #b1cb3d;
	color: #fff;
	text-align: center;
	line-height: 42px;
	margin-left: 100px;
	margin-top: 10px;
}
#house-rent-info .culture-center{
	width: 320px;
	height: 155px;
	margin-top: 10px;
}
#house-rent-info .culture-center img{
	width: 320px;
	height: 155px;
}
#house-rent-info .district-life{
	width: 320px;
	height: 310px;
	/*background: #ccc;*/
	margin-top: 20px;
}
#house-rent-info .district-life .district-life-title{
	width: 321px;
	height: 42px;
	background: #00b4dc;
	color: #fff;
	font-size: 22px;
	line-height: 42px;
	text-indent: 10px;
}
#district-life-service{
	width: 320px;
	height: 340px;
	position: relative;

}
#district-life-service ul{
	width: 320px;
	height: 320px;
	border-right: 1px solid #dfdfdf;
	display: none;
}
#district-life-service ul.selected{
	display: block;
}
#district-life-service li{
	width: 159px;
	height: 159px;
	/*background: #f00;*/
	float: left;
	border-left: 1px solid #dfdfdf;
	border-bottom: 1px solid #dfdfdf;
}
#district-life-service li a{
	width: 160px;
	height: 160px;
	display: block;
	text-align: center;
}
#district-life-service li img{
	width: 60px;
	height: 60px;
	margin-top: 40px;
}
#district-life-service li p{
	width: 160px;
	height: 20px;
	font-size: 14px;
	color: #00b4dc;
	text-align: center;
	line-height: 20px;
}
#district-life-service .district-life-tab{
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -25px;
}
#district-life-service .district-life-tab span{
	width: 20px;
	height: 5px;
	float: left;
	background: #b8b8b8;
	margin-right: 10px;
	cursor: pointer;
}
#district-life-service .district-life-tab span.selected{
	background: #00b4dc;
}

/**********************house-rent-info结束************************/ 














