
#view{
    margin-top: 50px;
    width: 768px;
    float: left;
}
#new{
    color: #b1cb3d;
    text-align: center;
}
#view .frame{
    background: #ffffff;
    width: 240px;
    height: 393px;
    float: left;
    margin-left: 10px;
}
#view .frame img{
    width: 232px;
    height: 160px;
    margin: 20px auto;
    display: block;
    /*padding: 30px;*/
}
#view .frame h4{
 /*   padding: 20px;*/
    margin-left: 10px;
    color: #00b3db;
    font-size: 18px;
}
#view .frame p{
    margin-left: 10px;
    margin-right: 10px;
    color: #676767;
    line-height: 24px;
   ;
}