/**********************property-title开始************************/
#property-title{
    height: 40px;
}
#property-title .wrapper{
    height: 40px;
    /*background: #fff;*/
}
#property-title-nav{
    height: 40px;
    line-height: 40px;
    color: #676767;
}
#property-title-nav a{
    color: #676767;
    font-size: 12px;
}

/**********************property-title结束************************/



/**********************property-content开始************************/
#property-content{
    overflow: hidden;
    background: #fff;
}

#property-content .property-online{
    width: 100%;
    height: 40px;
    color: #555;
    font-size: 25px;
    line-height: 40px;
    margin: 10px 0;
}
#property-content .property-tabcontrols{
    width: 768px;
    float: left;
}
#property-content .res-details{
    width: 100%;
}
#property-content .res-details li{
    width: 100%;
    height: 150px;
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 10px;
}

/*查看未回复建议*/
#property-content .suggest-res-yes{
    width: 100%;
    height: 30px;
    line-height: 30px;
}
#property-content .suggest-res-yes a{
    font-size: 14px;
    float: right;
    color: #00b4dc;
}
/*查看未回复建议*/



#property-content .content{
    width: 100%;
    color: #999;
    font-size: 14px;
    margin: 10px 0;
}
#property-content .time{
    font-size: 14px;
    color: #999;
    margin-top: 20px;
}
#property-content .response{
    width: 100%;
    height: 30px;
    margin-top: 20px;
    line-height: 30px;
    color: #999;
}
#property-content .response span{
    color: #000;
}


/*分页*/
#property-content .res-details .am-cf{
    padding-top: 20px;
}
#property-content .res-details .am-pagination{
    float: right;

}
#property-content .res-details .am-pagination span{
    width: 30px;
    height: 30px;
    background: #dfdfdf;
    margin-left: 10px;
    padding: 0px;
    float: left;
    text-align: center;
    line-height: 30px;
}
#property-content .res-details .am-pagination span a{
    color: #fff;
}
#property-content .res-details .am-pagination .am-active{
    background: #00b4dc;
}

















/**********************house-rent-service开始******************************/
#property-content .house-rent-service{
    width: 320px;
    height: 954px;
    /*background: #f00;*/
    float: right;
    padding: 20px 0;
}
#property-content .house-announce{
    width: 320px;
    height: 250px;
    background: #f4f4f4;
}
#property-content .house-announce p{
    width: 320px;
    height: 23px;
    font-size: 20px;
    color: #00b4dc;
    padding: 20px 0;
    text-align: center;
}
#property-content .house-announce a{
    width: 120px;
    height: 42px;
    display: block;
    background: #b1cb3d;
    color: #fff;
    text-align: center;
    line-height: 42px;
    margin-left: 100px;
    margin-top: 10px;
}
#property-content .culture-center{
    width: 320px;
    height: 155px;
    margin-top: 10px;
}
#property-content .culture-center img{
    width: 320px;
    height: 155px;
}
#property-content .district-life{
    width: 320px;
    height: 310px;
    /*background: #ccc;*/
    margin-top: 20px;
}
#property-content .district-life .district-life-title{
    width: 321px;
    height: 42px;
    background: #00b4dc;
    color: #fff;
    font-size: 22px;
    line-height: 42px;
    text-indent: 10px;
}
#district-life-service{
    width: 320px;
    height: 340px;
    position: relative;

}
#district-life-service ul{
    width: 320px;
    height: 320px;
    border-right: 1px solid #dfdfdf;
    display: none;
}
#district-life-service ul.selected{
    display: block;
}
#district-life-service li{
    width: 159px;
    height: 159px;
    /*background: #f00;*/
    float: left;
    border-left: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
}
#district-life-service li a{
    width: 160px;
    height: 160px;
    display: block;
    text-align: center;
}
#district-life-service li img{
    width: 60px;
    height: 60px;
    margin-top: 40px;
}
#district-life-service li p{
    width: 160px;
    height: 20px;
    font-size: 14px;
    color: #00b4dc;
    text-align: center;
    line-height: 20px;
}
#district-life-service .district-life-tab{
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -25px;
}
#district-life-service .district-life-tab span{
    width: 20px;
    height: 5px;
    float: left;
    background: #b8b8b8;
    margin-right: 10px;
    cursor: pointer;
}
#district-life-service .district-life-tab span.selected{
    background: #00b4dc;
}

/**********************property-content结束************************/


